<h1>שינוי ססמא</h1>

<% form_for @user, :url => {:controller => :main, :action => :update_user} do |f| %>
	<%= f.error_messages  :header_message => "שינוי הססמא נכשל", :message => "הבעיות הבאות מנעו את שינוי הססמא:" %>

  <p>
    <%= f.label "ססמא חדשה" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "הקלידו את הססמא שנית" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "אשר" %>
  </p>
<% end %>

<%= link_to 'חזרה', users_path %>
