<h1>מה חושבים עליכם - הכנסת ההערות</h1>
<p>הכניסו את ההערות למשתמשים כשכל הערה בשורה נפרדת</p>

<%form_tag :action => :save_comments do %>
<%= hidden_field_tag 'active', true %>
<table>
	<% for user in @users.find_all{|u| u.name != session[:name] and u.enabled} do %>
	  <tr>
                <td><img src="<%=h user.avatar_link%>" alt="" class="avatar" /></td>
		<td> <%=h user.name %>: </td>
		<td> <%= text_area_tag "user_" + user.id.to_s, user.comments_string(session[:name]), :size => "80x4" %> </td>
	  </tr>
	<% end %>
</table>

<center>
  <%= submit_tag "עדכן" %>
  <%= link_to "חזרה", :action => "index" %>
  </center>
<% end %>