<h1>ברוכים הבאים אל "מה חושבים עליכם"</h1>
<% if session[:name] != nil and @user != nil%>
  <% if not @user.enabled %>
    <h2>החשבון שלכם טרם אושר</h2>
  <% end %>
  <p>מחובר בתור  <%= session[:name]%> (<%= link_to "להתנתקות", :action => "logout" %>)</p>
  <p><img src="<%= @user.avatar_link%>" alt="" class="avatar"/></p>
  <% if @new_comment_number > 0 %>
    <p><%= link_to "ישנן #{@new_comment_number} הערות חדשות",:action => "results", :min_time => @user.last_visit_to_result_list %></p>
  <% end %>
  <p>נכתבו כבר <%=  @user.describing_comments.length %> הערות עלייך</p>
  <p><%= link_to "שינוי ססמא", :action => :edit_password %></p>
  <% form_for @user, :url => {:controller => :main, :action => :update_user} do |f| %>
	<%= f.error_messages  :header_message => "עדכון המשתמש נכשל", :message => "הבעיות הבאות מנעו את עדכון המשתמש:" %>
        <% if false %>
          <p>
            <%= f.label "גלוי לשאר המשתתפים"  %>
            <%= f.check_box :shown %>
          </p>
        <% end %>
        <p>
          <%= f.label "לינק לאווטר הפורומי" %>
          <%= f.text_field :avatar_link  %>
        </p>
	<p>
	    <%= f.submit "אשר" %>
	</p>
  <% end %>
<% else %>
  <p>אינכם מחוברים כרגע.</p>
<% end  %>