<h1>ברוכים הבאים אל "מה חושבים עליכם"</h1>
<% if session[:name] != nil %>
  <p>מחובר בתור  <%= session[:name]%> (<%= link_to "להתנתקות", :action => "logout" %>)</p>
<% else %>
  <%= link_to "התחברות",:action => "login" %>
<% end  %>

<p>
  <%= link_to "התוצאות",:action => "results" %>
  <%= link_to "הרשמה",:action => "register" %>
  <%= link_to "התחברות",:action => "login" %>
  <% if session[:name] != nil %>
    <%= link_to "לכתיבת ההערות",:action => "edit_comments" %>
  <% end  %>
</p>
