<h1>הרשמה</h1>


<% form_for @user, :url => {:controller => :main, :action => :add_user} do |f| %>
<table>
  <tr>
    <td><%= f.error_messages  :header_message => "רישום המשתמש נכשל", :message => "הבעיות הבאות מנעו את רישום המשתמש:" %></td>
  </tr>
  <tr>
    <td><%= f.label "שם משתמש" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label "ססמא" %></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><%= f.label "הקלידו את הססמא שנית" %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= f.submit "אשר" %></td>
  </tr>
<% end %>
</table>
<%= link_to 'חזרה', users_path %>
