<h1>
מה חושבים עליכם? התוצאות
</h1>

<p>כרגע עם <%= Comment.find(:all).find_all{|c| c.target.enabled}.size%> תגובות על <%= @users.find_all{|u| u.enabled}.length%> משתמשים </p>

<select id="options" onchange="<%= remote_function(:update => "user_list",
      :url => { :action => :set_view_type }, :with => "'view_type=' + encodeURIComponent(value)") %>">
    <option value="normal_view" <%= ((session[:view_type] == "normal_view")?("selected"):(""))%> >הצג כפילויות</option>
    <option value="inflated_view" <%= ((session[:view_type] == "inflated_view")?("selected"):(""))%> >הצג ניפוח</option>
    <option value="counted_view" <%= ((session[:view_type] == "counted_view")?("selected"):(""))%> >הצג מספר חזרות</option>
    <option value="truncted_view" <%= ((session[:view_type] == "truncted_view")?("selected"):(""))%> >הסתר כפילויות</option>
  </select>

<div id="user_list">
  <%= render(:partial => "result_user_list") %>
</div>