<h1>Editing session</h1>

<% form_for(@session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :registration_enabled %><br />
    <%= f.text_field :registration_enabled %>
  </p>
  <p>
    <%= f.label :commenting_enables %><br />
    <%= f.text_field :commenting_enables %>
  </p>
  <p>
    <%= f.label :results_view_enabled %><br />
    <%= f.text_field :results_view_enabled %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>