<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Registration enabled</th>
    <th>Commenting enables</th>
    <th>Results view enabled</th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%=h session.number %></td>
    <td><%=h session.registration_enabled %></td>
    <td><%=h session.commenting_enables %></td>
    <td><%=h session.results_view_enabled %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New session', new_session_path %>