<p>
  <b>Number:</b>
  <%=h @session.number %>
</p>

<p>
  <b>Registration enabled:</b>
  <%=h @session.registration_enabled %>
</p>

<p>
  <b>Commenting enables:</b>
  <%=h @session.commenting_enables %>
</p>

<p>
  <b>Results view enabled:</b>
  <%=h @session.results_view_enabled %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>