<p>
  <b>Text:</b>
  <%=h @comment.text %>
</p>

<p>
  <b>Submitted:</b>
  <%=h @comment.submitted_id %>
</p>

<p>
  <b>Target it:</b>
  <%=h @comment.target_it %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>